__pycache__
.DS_Store
*.sqlite
*.egg-info
*~
.eggs
*.code-workspace
.vscode
config.yml
build
*.cache
dist-test

# sqlite dbs
*.db

.venv
venv*
credentials.json
# ignore auto generated API client typings (may change later)
*client*