# Official language image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/python/tags/
image: python:3.11

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
    PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

# https://pip.pypa.io/en/stable/topics/caching/
cache:
    paths:
        - .cache/pip

before_script:
    - apt-get -qq update
    - apt-get -qq install -y build-essential
    - apt-get -qq install -y graphviz
    - apt-get -qq install -y graphviz-dev
    - apt-get -qq install -y curl
    - curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.1/install.sh | bash # install nvm
    - source /root/.bashrc # activate nvm
    - nvm install 19.8.1 # install specific node version with nvm
    - python --version ; pip --version # For debugging
    - pip install virtualenv
    - virtualenv venv
    - source venv/bin/activate
    - pip install -e .
    - pip install -r requirements.txt

test:
    stage: test
    script:
        - pip install pytest
        - pip install pytest-playwright
        - playwright install
        - playwright install-deps
        - "export TERRANOVA_CONF=./SAMPLE_CONFIG.yml && make test" # for testing API and frontend/end-to-end
